@using WebApp.ViewModels;
@model LoginViewModel;



@{
    ViewData["Title"] = "Login";
    Layout = "/Views/Shared/_AccountLayout.cshtml";
}
<div class="account-container">

    <div class="account-box">

        <h2 class="text-center mb-4">Student Account</h2>

        <form asp-action="Login" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">
                <label asp-for="StudentNumber" class="form-label"></label>
                <input asp-for="StudentNumber" class="form-control" />
                <span asp-validation-for="StudentNumber" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

			
			<div class="form-check-mb-3">

				<label class="form-check-label">
					<input asp-for="RememberMe" class="form-check-input"/>
					@Html.DisplayNameFor(a => a.RememberMe)
				</label>

			</div>

                <input type="submit" value="Login" class="btn btn-success w-100 p2"/>

			
            <div class="float-end">
				<a asp-controller="Account" asp-action="VerifyEmail" class="text-decoration-none">
					Forgot Password?
				</a>

			</div>

               <div class="text-center">
                   <a asp-controller="Home" asp-action="Index" class="text-decoration-none mt-3">Back</a>
                   @* ditoo mag aad ng redirecting para sa admin account etc *@
               </div>

                

           


        </form>
    </div>

</div>

@section Scripts {
@{
        await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
    }
    
}
